*/target/
*/.idea/
*/.settings/
*/.vscode/
*/.build/

*/.classpath
*/.project
.DS_Store
*/.DS_Store

design-patterns/*/*/.idea/
design-patterns/*/*/.gradle/
design-patterns/*/*/.classpath
design-patterns/*/*/.project
design-patterns/*/*/build/
design-patterns/*/*/lib/
design-patterns/*/*/bin/

solid-principles/*/.classpath
solid-principles/*/.project
solid-principles/*/.build
solid-principles/*/.idea/
solid-principles/*/.gradle/
solid-principles/*/.vscode/
solid-principles/*/.settings/
solid-principles/*/build/
solid-principles/*/target/
